<template>
  <div class="<%= dasherize(name) %>">
    Pps<%= classify(name) %> Working!
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { Pps<%= classify(name) %>Config } from './<%= classify(name) %>.config'
export default defineComponent({
  setup() {
    return {
      ...Pps<%= classify(name) %>Config()
    }
  }
})
</script>
